.DS_Store
.idea/*
.gradle

build
local.properties
android/.idea
*.iml
native-example-ios/Pistachio-iOS Example.xcodeproj/project.xcworkspace/xcuserdata
native-example-ios/Pistachio-iOS Example.xcodeproj/xcuserdata
